/* Styles for ExpenseBarChart component */
.expense-bar-chart-container {
  background-color: #f9f9f9;
  color: #333;
  
}
.dashboard-conatiner{
  margin-top: 65px !important;
}

.header-container {
  display: flex;
  row-gap: 10px;
}

.button-container {
  display: flex;
  column-gap: 15px;
}

.total-amount-container,
.total-expense-container {
  /* Change the background color of total amount and total expense containers */
  background: #1cc29f;
  padding: 10px;
  border-radius: 5px;
  /* margin-bottom: 10px; */
  color: white;
}

.dashboard-title {
  color: white;
  font-size: 24px;
}

.section-title {
  color: white;
  margin-bottom: 10px;
}

.custom-paper {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 396px;
}

.totals-container {
  display: flex;
  column-gap: 10px;
  /* justify-content: space-between; */
  margin-top: 20px;
}

.total-amount-label,
.total-expense-label {
  color: white;
  font-weight: bold;
}

.total-amount-value,
.total-expense-value {
  font-weight: bold;
}

.dashboard-title {
  font-size: 40px !important;
  color: black;
  font-weight: 900 !important;
}
.dashboard-header {
  display: flex;
  justify-content: center;
}
