.incomeeditform {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* .containerMain {
  margin-top: 50px !important;
} */

.container404page {
  margin: 200px 10px;
}

.tablecontainer {
  /* width: 60%; */
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.incomeHeader {
  text-align: center;
}
.expense404page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

@media (max-width: 768px) {
  .searchcontainer {
    width: 100% !important;
  }
  .tablecontainer {
    width: 100% !important;
  }
}

.incomeTitle {
  font-weight: bold;
}
.tableCell {
  color: rgb(247, 241, 241) !important;
}

.tableHeader {
  background-color: black;
  color: white;
}

/* Style for alternate rows */
.tableRow:nth-child(odd) {
  background-color: #dad2d2;
}

.input-checkbox {
  color: #ffffff !important;
}
.h3404page {
  margin: 5px 15px !important;
}

.link404page {
  padding: 15px 15px !important;
  color: white !important;
  font-weight: bold !important;
  font-size: 0.9em !important;
  text-align: center !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  letter-spacing: 0.09em !important;
  background-color: rgba(240, 85, 85, 0.9) !important;
  box-shadow: -7px 7px 0 rgba(72, 104, 244, 0.7),
    -12px 12px 0 rgba(255, 219, 89, 0.8) !important;
  transition: all 0.2s ease !important;

  &:hover {
    box-shadow: -3px 3px 0 rgba(72, 104, 244, 0.7),
      -6px 6px 0 rgba(255, 219, 89, 0.8) !important;
    transition: all 0.2s ease !important;
  }
}
.resetButoon {
  margin: 10px 0px !important;
  background-color: #dad2d2 !important;
  color: black !important;
}
.icon {
  margin-bottom: -6px;
}
